* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.main-card {
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
  padding: 10px;
  max-width: 600px;
  overflow-y: auto;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile img {
  --size: 120px;
  width: var(--size);
  height: var(--size);
  border-radius: 60%;
  margin-bottom: 10px;
}

.profile-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.profile-nick {
  font-size: 1rem;
  font-weight: 400;
}

.profile-work {
  font-size: 1.1rem;
  font-weight: 400;
  padding: 10px;
  margin: 0;
}

.profile-text-section {
  font-size: 1.2rem;
  font-weight: 400  italic;
  padding: 10px;
  margin-bottom: 10px;
}

.links {
  width: 100%;
}

.link-item {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px white;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: all 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: calc(100% - 20px);
}

.link-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.link-icon {
  margin: 4px;
  margin-right: 7px;
  --size: 36px;
  width: var(--size);
  height: var(--size);
  color: white;
}


.link-label {
  font-size: 1.5rem;
  font-weight: normal;
  margin-left: 7px;
  text-align: center;
  width: calc(100% - 40px);
}
  